# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
# Distribution / packaging
*.egg-info/
*.egg-info

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#IDEs
.idea
.vscode

#pywikibot
apicache-py3/
pywikibot.lwp
throttle.ctrl

# repo related:

/infra
frontend/
README.md
/data-page
/tools
.git
.dockerignore
.gitignore
Dockerfile
