.Header {
    position: fixed;
    top: 0; /* Stick it to the top */
    max-height: 70px;
    width: 100vw;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-areas: "logo nav";
  
    /* Cosmetics */
    background-color: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 4%);
  }

.logo {
  grid-area: logo;
  height: 70px;
}
.Nav {
    left: 0;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.Nav a {
    padding: 15px 15px;
    background: 0 0;
    transition: color .1s ease;
    border-radius: .0;
    /* display: flex; */
    align-items: center;
    user-select: auto;
    position: relative;
    align-self: center;
    text-decoration: none;

}

.Nav a:hover {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
}
