body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navigation {
  margin-top: 2vh;
}
#annotation {
  margin-top: 0;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
#annotation.ui .fixed.table  td {
  padding: 0;
  overflow: inherit;
}


.annotation-text div {
  display: inline;
  white-space: pre;
}

.annotation-users {
  display: inline;
  list-style: none;
}
ul.annotation-users {
  display: inline;
  padding-inline-start: 5px;
}
.annotation-users li {
  display: inline;
}

.annotation-users li:after {
  content: ", ";
}

.annotation-users li:last-child:after {
  content: "";
}

#annotation.ui .fixed.table .annotation-line-number {
  text-align: right;
  padding-right: 2px;
}

.annotation-word:hover {
  background-color: darkgray;
}
